<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dawning Years - Registration</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="/js/childmain.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <form name="myyform" id="myyform">

    <!-- Main Body Container -->
    <div class="container">
      <div class="break"></div>

      <div class="panel">
        <div class="panel-heading panel-custom">
          <h3>Child Information</h3>
        </div>

        <div class="panel-body">

          <div id="frst1" class="form-group">

            <div class="form-group col-md-12">
              <div class="form-group col-md-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" name="child_last_name" id="child_last_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>First Name:</label>
                <input type="text" class="form-control" name="child_first_name" id="child_first_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Birthday:</label>
                <input type="date" class="form-control" placeholder="mm/dd/yyyy" name="child_birth" id="child_birth" required>
              </div>


              <div class="form-group col-md-2">
                <label>Gender:</label>
                <select class="form-control" name="gender" id="gender">
                  <option></option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>


              <div class="form-group col-md-2">
                <label>Race:</label>
                <select class="form-control" name="race" id="race">
                  <option></option>
                  <option>Black</option>
                  <option>White</option>
                  <option>Asian</option>
                  <option>Hispanic</option>
                  <option>Eastern</option>
                  <option>Other</option>
                </select>
              </div>

            </div>


            <div class="form-group col-md-12">
              <div class="form-group col-md-3">
                <label>Doctor Name:</label>
                <input type="text" class="form-control" name="doctor_name" id="doctor_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Doctor Address:</label>
                <input type="text" class="form-control" name="doctor_address" id="doctor_address" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Doctor Phone:</label>
                <input type="text" class="form-control" id="doctor_phone" required>
              </div>
              <div class="form-group col-md-3">
                <label>Emergency Hospital Preference:</label>
                <input type="text" class="form-control" name="hospital_pref" id="hospital_pref" onkeyup="myFunction()" required>
              </div>

            </div>

            <div class="form-group col-md-12">
              <div class="form-group col-md-2">
                <label>Child Arrival Time:</label>
                <select class="form-control selectpicker show-tick" title="Arrive Time" id="arrive_time" required>
                  <option>6:00</option>
                  <option>7:00</option>
                  <option>8:00</option>
                  <option>9:00</option>
                  <option>9:30</option>
                </select>
              </div>


              <div class="form-group col-md-2">
                <label>Child Departure Time:</label>
                <select class="form-control selectpicker show-tick" title="Depart Time" id="depart_time" required>
                  <option>1:00</option>
                  <option>2:00</option>
                  <option>3:00</option>
                  <option>4:00</option>
                  <option>5:00</option>
                  <option>6:00</option>
                  <option>6:30</option>
                </select>
              </div>


              <div class="form-group col-md-2 selectContainer">
                <label>Part / Full Day</label>
                <select class="form-control selectpicker show-tick" title="Full or Part Time" id="foptime">
                  <option>Part Day</option>
                  <option>Full Day</option>
                </select>
              </div>

              <div class="form-group col-md-3 selectContainer">
                <label>Days Child Attends</label>
                <select class="selectpicker multiple data-selected-text-format show-tick" multiple title="Choose Days" id="attenddays">
                  <option>Mon</option>
                  <option>Tues</option>
                  <option>Wed</option>
                  <option>Thurs</option>
                  <option>Fri</option>
                </select>
              </div>


              <div class="form-group col-md-3 selectContainer">
                <label>Meals Child Will Participate:</label>
                <select class="selectpicker multiple data-selected-text-format show-tick" multiple title="Choose Meals" id="meals">
                  <option>Breakfast</option>
                  <option>AM Snack</option>
                  <option>Lunch</option>
                  <option>PM Snack</option>
                </select>

              </div>

            </div>

            <div class="form-group col-md-12">

              <div class="form-group col-md-3 selectContainer">
                <label>Completly Potty Trained</label>
                <select class="form-control selectpicker show-tick" title="Potty Trained" id="potty">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <div class="form-group col-md-3 selectContainer">
                <label>Class Room</label>
                <select class="form-control selectpicker show-tick" title="Class Room" id="classroom">
                  <option>Infant Room</option>
                  <option>Transitional</option>
                  <option>Two Year Olds</option>
                  <option>Three Year Olds</option>
                  <option>PreSchool</option>
                  <option>After School</option>
                </select>
              </div>



              <div class="form-group col-md-3 selectContainer">
                <label>School Child Attends</label>
                <select class="form-control selectpicker show-tick" title="School Attends" id="school_attend">
                  <option>Whidby</option>
                  <option>Foster</option>
                  <option>Thompson</option>
                  <option>Bastian</option>
                  <option>Kipp Peace</option>
                  <option>Young</option>
                </select>
              </div>


              <div class="form-group col-md-3">
                <label>Enroll Date:</label>
                <input type="date" class="form-control" name="enroll_date" id="enroll_date" required>
              </div>

            </div>

            <div class="btn-group" role="group">
              <button type="button" id="btn-add1" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>Save and Continue</button>
            </div>



          </div>

          <div id="al1" class="form-group col-md-12">

            <div class="form-group col-md-6">
              <label>Detail Any Known Allergies Your Child Has, Or Enter NONE:</label>
              <input type="text" class="form-control" name="allergies" id="allergies" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>How Should We Respond:</label>
              <input type="text" class="form-control" id="allergy_response" name="allergy_response" onkeyup="myFunction()">
            </div>
            <div class="form-group col-md-6">
              <label>Detail Any Know Medical Conditions Your Child Has, Or Enter NONE:</label>
              <input type="text" class="form-control" id="medical_condition_1" name="medical_condition_1" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>How Should We Respond:</label>
              <input type="text" class="form-control" id="medical_response_1" name="medical_response_1" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>List Any Drugs Your Child Is Taking Consistantly, Or Enter NONE:</label>
              <input type="text" class="form-control" id="drug_list" name="drug_list" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>How Should We Respond In Case Of Adverse Action:</label>
              <input type="text" class="form-control" id="drug_response" name="drug_response" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>Detail Behavioral Issues We Should Be Aware Of, Or Enter NONE:</label>
              <input type="text" class="form-control" id="behave" name="behave" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-6">
              <label>How Should We Respond When These Issues Arrise:</label>
              <input type="text" class="form-control" id="behave_response" name="behave_response" onkeyup="myFunction()" required>
            </div>
            <div class="form-group col-md-12">
              <label>List Any Other Special Conditions Your Child May Have:</label>
              <input type="text" class="form-control" id="other_conditions" name="other_conditions" onkeyup="myFunction()" required>
            </div>

            <div class="btn-group" role="group">
              <button type="button" id="btn-add2" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>Save and Continue</button>
            </div>

          </div>



          <div id="pg3">

            <div class="form-group col-md-12">

              <div class="form-group col-md-4">
                <label>Child Address:</label>
                <input type="text" class="form-control" name="address" id="address" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>City:</label>
                <input type="text" class="form-control" name="city" id="city" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Zip:</label>
                <input type="text" class="form-control" name="zip" id="zip" required>
              </div>
              <div class="form-group col-md-3"></div>
            </div>

            <div class="form-group col-md-12">
              <div class="form-group col-md-3">
                <label>Parent Last Name:</label>
                <input type="text" class="form-control" name="parent_last_name" id="parent_last_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Parent First Name:</label>
                <input type="text" class="form-control" name="parent_first_name" id="parent_first_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Parent Primary Phone:</label>
                <input type="text" class="form-control" name="parent1_phone_1" id="parent1_phone_1" required>
              </div>
              <div class="form-group col-md-3">
                <label>Parent Alternate Phone:</label>
                <input type="text" class="form-control" name="parent1_phone_2" id="parent1_phone_2" required>
              </div>
            </div>


            <div class="form-group col-md-12">
              <div class="form-group col-md-3">
                <label>Alt Parent Last Name:</label>
                <input type="text" class="form-control" name="parent2_last_name" id="parent2_last_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Alt Parent First Name:</label>
                <input type="text" class="form-control" name="parent2_first_name" id="parent2_first_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Alt Parent Primary Phone:</label>
                <input type="text" class="form-control" name="parent2_phone_1" id="parent2_phone_1" required>
              </div>
              <div class="form-group col-md-3">
                <label>Alt Parent Alternate Phone:</label>
                <input type="text" class="form-control" name="parent2_phone_2" id="parent2_phone_2" required>
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="form-group col-md-4">
                <label>Primary Emergency Contact Full Name:</label>
                <input type="text" class="form-control" name="emergency1_name" id="emergency1_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-4">
                <label>Emergency Contact Address:</label>
                <input type="text" class="form-control" name="emergency1_address" id="emergency1_address" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Primary Phone:</label>
                <input type="text" class="form-control" name="emergency1_phone_1" id="emergency1_phone_1" required>
              </div>
              <div class="form-group col-md-2">
                <label>Alternate Phone:</label>
                <input type="text" class="form-control" name="emerency1_phone_2" id="emergency1_phone_2" required>
              </div>
              <div class="form-group col-md-2">
                <label>Email:</label>
                <input type="text" class="form-control" name="email_address" id="email_address" required>
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="form-group col-md-4">
                <label>Additional Contact Full Name:</label>
                <input type="text" class="form-control" name="emergency2_name" id="emergency2_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Primary Phone:</label>
                <input type="text" class="form-control" name="emergency2_phone_1" id="emergency2_phone_1" required>
              </div>
              <div class="form-group col-md-2">
                <label>Alternate Phone:</label>
                <input type="text" class="form-control" name="emerency2_phone_2" id="emergency2_phone_2" required>
              </div>
              <div class="form-group col-md-4"></div>
            </div>



            <div class="form-group col-md-12">
              <div class="form-group col-md-4">
                <label>Additional Contact Full Name:</label>
                <input type="text" class="form-control" name="emergency3_name" id="emergency3_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Primary Phone:</label>
                <input type="text" class="form-control" name="emergency3_phone_1" id="emergency3_phone_1" required>
              </div>
              <div class="form-group col-md-2">
                <label>Alternate Phone:</label>
                <input type="text" class="form-control" name="emerency3_phone_2" id="emergency3_phone_2" required>
              </div>
              <div class="form-group col-md-4"></div>
            </div>

            <div class="form-group col-md-12">
              <div class="form-group col-md-4">
                <label>Additional Contact Full Name:</label>
                <input type="text" class="form-control" name="emergency4_name" id="emergency4_name" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-2">
                <label>Primary Phone:</label>
                <input type="text" class="form-control" name="emergency4_phone_1" id="emergency4_phone_1" required>
              </div>
              <div class="form-group col-md-2">
                <label>Alternate Phone:</label>
                <input type="text" class="form-control" name="emerency4_phone_2" id="emergency4_phone_2" required>
              </div>
              <div class="form-group col-md-4"></div>
            </div>

            <div class="btn-group" role="group">
              <button type="button" id="btn-add3" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>Save and Continue</button>
            </div>

          </div>

          <div id="pg4">

            <div class="form-group col-md-12">
              <div class="form-group col-md-2">
                <label>Tuition Amount:</label>
                <input type="text" class="form-control" name="tuition_amt" id="tuition_amt" onkeyup="myFunction()" required>
              </div>

              <div class="form-group col-md-2">
                <label>Pay Frequency:</label>
                <select class="form-control selectpicker" Title="Pay Frequency" name="pay_frequency" 
                id= "pay_frequency" required>
                  <option></option>
                  <option>Monthly</option>
                  <option>Weekly</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>Start Date:</label>
                <input type="date" class="form-control" name="start_date" id="start_date" required>
              </div>
              <div class="form-group col-md-3">
                <label>Enroll Date:</label>
                <input type="date" class="form-control" name="enroll_date" id="enroll_date" required>
              </div>
            </div>
            <div class="form-group col-md-12">
              <h3>Subsidy Information</h3>

            </div>

            <div class="form-group col-md-12">

              <div class="form-group col-md-2">
                <label>Co-Pay Amount:</label>
                <input type="text" class="form-control" name="tuition_amt" id="tuition_amt" onkeyup="myFunction()" required>
              </div>
              <div class="form-group col-md-3">
                <label>Start Date:</label>
                <input type="date" class="form-control" name="authorize_date" id="authorize_date" required>
              </div>
              <div class="form-group col-md-3">
                <label>End Date:</label>
                <input type="date" class="form-control" name="end_care_date" id="end_care_date" required>
              </div>

              <div class="form-group col-md-4"></div>
            </div>




            <div class="btn-group" role="group">
              <button type="button" id="btn-add4" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>Save Enroll Information</button>
            </div>
          </div>

        </div>

  </form>


  <a href="./index.html">HOME</a>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <button id="customButton">Purchase</button>
  <script>
    var handler = StripeCheckout.configure({
      key: 'pk_test_pS1AgpHyxfjsqwB6Ltl1uYAJ',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: function (token) {
        // You can access the token ID with `token.id`.
        // Get the token ID to your server-side code for use.
        console.log(token.id);
      }
    });

    document.getElementById('customButton').addEventListener('click', function (e) {
      // Open Checkout with further options:
      handler.open({
        name: 'Demo Site',
        description: '2 widgets',
        amount: 10000
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function () {
      handler.close();
    });
  </script>
</body>

</html>