<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!-- given_name
family_name
company_name
email_address
phone_number -->

<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="given_name">Given Name</label>
                <input type="name" class="form-control" id="given_name" aria-describedby="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="family_name">Family Name</label>
                <input type="lName" class="form-control" id="family_name" aria-describedby="lName" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="company">Company Name</label>
                <input type="company" class="form-control" id="company" aria-describedby="company" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>