<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dawning Years</title>
</head>

<body>
    <section class="color">
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Registration">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="hero" style="height: 550px;">
        <div class="title">
            <div class="container">
                <div id="heroSpace"></div>
                <div class="row">
                    <h1 id="padding" class="mx-auto heroTitle">
                        <strong id="titleColor">Dawning</strong>Years</h1>
                </div>
                <div class="row">
                    <h3 id="padding" class="mx-auto">Child Care Center Solution</h3>
                </div>
                <div class="row">
                    <h3 class="mx-auto">
                        <em id="padding">Swift-Simple-Safe</em>
                    </h3>
                </div>
                <div id="padding">
                    <div class="row justify-content-center margin">
                        <div class="btngroup">
                            <div class="btn-group">
                                <div class="col-4">
                                    <button type="button" class="btn btn-primary btn-lg" id="padding">
                                        <a id="linkBtn" href="/Registration">Sign Up</a>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group" id="linkBtn">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-dark btn-lg" id="padding">About</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>